PORT_API=3000
PORT_BATCH=3008

MONGODB_DEV=mongodb+srv://<user>:<password>@<cluster-host>/agentsHub?retryWrites=true&w=majority
MONGODB_PROD=mongodb+srv://<user>:<password>@<cluster-host>/<prod-db-decided-at-deploy>?retryWrites=true&w=majority
SECRET_TOKEN=<random-secret-for-jwt>
